body{
    text-align: center;
}

.about{
    background-color: aqua;
    margin: 2% 20%;
    height: 30%;
    padding: 10px;
    border-radius: 2%;
}

p{
    font-size: 20px;
    
}

.image{
    border-radius: 70%;
}